* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.minor-heading {
  font-size: 14px;
}

.heading {
  font-size: 50px;
}

#title-role {
  transition: all 0.5s ease-in-out;
}

.navbar-brand {
  font-family: "Sevillana", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.image {
  height: 280px;
  width: auto;
  object-fit: cover;
}

.contact-btn:hover {
  background-color: white;
  color: black;
}

.about-description {
  font-size: 14px;
}

/****************************************/
/************ skills section ************/
/****************************************/
.skill-box {
  height: 290px;
  padding: 24px;
}

.language-name {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
}

.language-experience {
  font-size: 12px;
  font-weight: 600;
}

.juery-logo {
  height: 42px;
}

.toolbox {
  height: 65px;
  padding: 1px;
}

.vs-logo {
  height: 40px;
}

.other-language-logo {
  height: 40px;
  padding: 5px;
}

#others-oj-button {
  font-size: 13px;
}

@media (max-width: 576px) {
  .language-name {
    font-size: 16px;
  }

  .language-experience {
    font-size: 10px;
  }

  .skill-box {
    padding: 16px;
  }

  .toolbox {
    height: 100px;
  }

  .juery-logo {
    height: 30px;
  }

  .logo {
    padding-left: 5px;
  }
}

/*****************************************/
/************ project section ************/
/*****************************************/

.project-image-1 {
  height: 380px;
  width: auto;
}
.project-image-2 {
  height: 190px;
  width: auto;
  margin-top: 85px !important;
}

.image-part {
  height: 388px;
}

.custom-contact-gap {
  margin-top: 500px;
}

@media (max-width: 576px) {
  .project-image-1 {
    max-height: 200px;
  }
  .project-image-2 {
    max-height: 170px;
  }

  .image-part {
    height: 190px;
  }
}

/*****************************************************/
/************ programming journey section ************/
/*****************************************************/
.programming-gallery-1 {
  height: 220px;
}
.oj-logo {
  height: 45px;
}

/*************************************/
/************ sweet alert ************/
/*************************************/

.custom-button {
  border: 3px dark black;
  border-radius: 5px;
}
